body {
	background-color: #1285dd29;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5em;
	width: 100%;
	height: 100vh;
	justify-content: center;
	overflow: hidden;
}

.btn {
	margin-top: 1em;
    font-size: 1.2em;
    width: 100%;
    border-radius: 1em;
    color: #585c5d;
    font-weight: 600;
    height: fit-content;
    background: linear-gradient(24deg, #ff0d0d6b 20%, #ffffffab 80%);
    cursor: pointer;
}

h1 {
	color: #585c5d;
	letter-spacing: 2px;
}

h2 {
	color: #585c5d;
	letter-spacing: 2px;
}

.desc {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.description {
	color: #585c5d;
	display: flex;
	flex-direction: column;
	gap: 0em;
	letter-spacing: 2px;
}

.main {
	display: flex;
	flex-direction: row;
	gap: 4em;
}

.ctrlBtn {
	display: flex;
	flex-direction: column;
	width: fit-content;
}